
.search-bar {
    position: relative;

    &__inner .spinner {
        position: absolute;
        right: 1rem;
        top:50%;
        transform: translateY(-50%);
    }

    &__inner {
        display: flex;
        height: 5rem;
        border-radius: .5rem;
        overflow: hidden;
        position: relative;
    }

    &__btn,&__input {
        background: #F5F5F5;
        border:none;
        color: #575757;
        font-size: 2rem;
    }

    &__btn {
        cursor: pointer;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            transition: .2s ease-in-out;
        }
    }
  
    &__btn:hover svg {
        fill:#000;
        transform: scale(1.1);
    }

    &__input {

        background: #F5F5F5;
        flex:1;
    }

    &__results {
        position: absolute;
        top:5.5rem;
        right: 0;
        left: 0;
        border-radius: .5rem;
        overflow: hidden;
        background: #F5F5F5;
        
        li {
            display: flex;
            list-style: none;
            transition: .2s ease-in-out;
        }
        li:hover {
            background-color: #ccc;
            cursor: pointer;
        }
         a,span {
             padding: 1.25rem;
             text-decoration: none;
             color: #575757;
             width: 100%;
         }
    }
}
