.search-bar {
    &__inner {
        display: flex;
        height: 5rem;
        border-radius: .5rem;
        overflow: hidden;

    }

    &__btn,&__input {
        background: #F5F5F5;
        border:none;
        color: #575757;
        font-size: 2rem;
    }

    &__btn {
        cursor: pointer;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input {
        background: #F5F5F5;
        flex:1;
    }
}