
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

:root {
  --randomColor: #231f20;

}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;

}

html,
a,
p,
li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}